<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Café Dev - Dicas quentes de desenvolvimento web</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="Tome um gole de boas dicas de desenvolvimento web" />

  <!-- Style -->
  <link rel="stylesheet" href="assets/style/normalize.css" type="text/css"/>
  <link rel="stylesheet" href="assets/style/main.css" type="text/css"/>

  <!-- Font -->
  <link rel="stylesheet" href="font/font.css" type="text/css"/>

</head>
<body>
  <!-- start -Box Top- -->
    <section id="box-nav" class="unfixed">
      <div class="logo"><img src="assets/img/comp/logo.png" alt="Café Dev" /></div>
      <h1><span class="title-1">Café Dev</span></h1>
      <h5><span class="title-2">Dicas quentes de desevolvimento WEB</span></h5>
      <img src="assets/img/comp/line.png" alt=""/>
      <!-- start -Menu- -->
        <nav class="menu">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Equipe</a></li>
            <li><a href="#">Contato</a></li>
            <li><a href="#">Topo</a></li>
          </ul>
        </nav>
      <!-- end -Menu- -->
    </section>
  <!-- end -Box Top- -->

  <!-- start -Content- -->
    <section class="content" id="content">
      {{ content }}
    </section>
  <!-- end -Content- -->

  <!-- start -Footer- -->
    <footer class="footer-all">
      
    </footer>
  <!-- end -Footer- -->

  <!-- Scipt -->
  <script type="text/javascript" src="assets/js/jquery.js"></script>
  <script type="text/javascript" src="assets/js/main.js"></script>

</body>
</html>